.show-advanced-mode {
  margin: auto;
  position: fixed;
  bottom: 0px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  box-shadow: 0 0 30px 13px rgba(0, 0, 0, 0.21);
  line-height: 10px;
  padding-bottom: 17px;
  padding-top: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
