:host {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

.available-class-types {
  width: 100%;
}
.card-new-attribute {
  margin-top: 20px;
}
.tile-from-accordion {
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

#all-fixed-members {
  margin-top: 10px;
}
