.mdc-button__label {
  font-size: 14px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  height: 16px;
  letter-spacing: 1.25px;
  line-height: normal;
  text-shadow: none;
  text-transform: uppercase;
}
.mat-fab-extended {
  width: auto;
  border-radius: 57px;
  padding-left: 20px;
  padding-right: 20px;
}
