.action-btns {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
}

.start_button{
  margin-left: 0px;
}

.pause_button{
  margin-left: 10px;
}

.action-icon-btn{
  margin-left: 0px;
}

.task-icon{

  margin-right: 5px;
}
