/* line 3, styles/app.less */
* {
  box-sizing: border-box;
}
/* line 7, styles/app.less */
body,
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}
/* line 20, styles/app.less */
a:link {
  text-decoration: none;
}
/* line 24, styles/app.less */
a {
  color: #3e9b52;
}
/* line 26, styles/app.less */
.download {
  color: #555555;
}
/* line 28, styles/app.less */
.io-control-list button:hover,
.io-control-list a:hover {
  color: #3e9b52;
}
/* line 29, styles/app.less */
.io-export .highlighted {
  color: #3e9b52;
}
/* line 31, styles/app.less */
.success-box {
  background-color: #dff0d8;
}
/* line 32, styles/app.less */
.error-box {
  background-color: #f2dede;
}
/* line 33, styles/app.less */
.warn-box {
  background-color: #ffffcc;
}
/* line 35, styles/app.less */
.content {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 40, styles/app.less */
.content > .message {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  font-size: 16px;
  color: #111;
}
/* line 49, styles/app.less */
.content > .message .note {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
/* line 56, styles/app.less */
.content > .message.error .details {
  max-width: 500px;
  font-size: 12px;
  margin: 20px auto;
  text-align: left;
  color: #BD2828;
}
/* line 64, styles/app.less */
.content > .message.error pre {
  border: solid 1px #BD2828;
  background: #fefafa;
  padding: 10px;
  color: #BD2828;
}
/* line 72, styles/app.less */
.content:not(.with-error) .error,
.content.with-error .intro,
.content.with-diagram .intro {
  display: none;
}
/* line 78, styles/app.less */
.content .canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 86, styles/app.less */
.content .canvas,
.content .properties-panel-parent {
  visibility: hidden;
}
/* line 92, styles/app.less */
.content.with-diagram .canvas,
.content.with-diagram .properties-panel-parent {
  visibility: visible;
}
/* line 100, styles/app.less */
.buttons {
  position: fixed;
  bottom: 20px;
  right: calc(280px);
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1000;
}
/* line 109, styles/app.less */
.buttons > li {
  display: inline-block;
  margin-right: 10px;
}
/* line 113, styles/app.less */
.buttons > li > a {
  background: #DDD;
  border: solid 1px #666;
  display: inline-block;
  padding: 5px;
}
/* line 121, styles/app.less */
.buttons a {
  opacity: 0.3;
}
/* line 125, styles/app.less */
.buttons a.active {
  opacity: 1.0;
}
/* line 130, styles/app.less */
.buttons-active {
  color: #3e9b52;
}
/* line 134, styles/app.less */
.properties-panel-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 260px;
  z-index: 10;
  border-left: 1px solid #ccc;
  overflow: auto;
}
/* line 143, styles/app.less */
.properties-panel-parent:empty {
  display: none;
}
/* line 146, styles/app.less */
.properties-panel-parent > .djs-properties-panel {
  padding-bottom: 70px;
  min-height: 100%;
}
/* line 152, styles/app.less */
.io-export a,
.io-export button {
  opacity: 0.3;
}
/* line 155, styles/app.less */
.io-export a.active,
.io-export button.active {
  opacity: 1.0;
}
/* control buttons */
/* line 160, styles/app.less */
.io-control-list.io-horizontal,
.io-control-list.io-horizontal li {
  display: inline-block;
}
/* line 164, styles/app.less */
.io-control-list.io-horizontal {
  margin: 0;
}
/* line 167, styles/app.less */
.io-control-list.io-horizontal a {
  padding: 2px;
  margin: 0 5px;
}
/* line 171, styles/app.less */
.io-control-list.io-horizontal button {
  margin: 0 5px;
}
/* line 174, styles/app.less */
.io-control {
  background: #FFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 5px;
}
/* line 180, styles/app.less */
.io-control-list a,
.io-control-list button {
  padding: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  line-height: 26px;
  background: none;
  border: none;
}
/* line 191, styles/app.less */
.vr {
  height: 18px;
  display: inline-block;
  border-right: solid 1px #CCC;
}
/* line 197, styles/app.less */
.io-export.io-control-list.io-horizontal,
.io-import.io-control-list.io-horizontal {
  margin-left: 10px;
}
/* overlay */
/* line 204, styles/app.less */
#overlay {
  z-index: 1005;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
/* overlay-box */
/* line 215, styles/app.less */
.overlay-box {
  z-index: 1010;
  position: absolute;
  width: 60%;
  left: 20%;
  height: 60%;
  top: 20%;
  border-radius: 5px;
  background-color: #FFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  font-size: 16px;
}
/* line 231, styles/app.less */
.overlay-box p {
  margin-top: 0;
  text-align: left;
  font-weight: bold;
}
/* line 236, styles/app.less */
.overlay-box ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 240, styles/app.less */
.overlay-box ul li {
  padding: 8px;
  margin-bottom: 2px;
  text-align: left;
  border-left: 4px solid #eee;
  cursor: pointer;
}
/* line 247, styles/app.less */
.overlay-box ul li:hover {
  border-color: #3e9b52;
}
/* line 251, styles/app.less */
.overlay-box input {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  height: 2.2em;
  text-align: center;
}
/* line 258, styles/app.less */
.overlay-box a span {
  font-size: 32px;
  color: #333;
}
/* line 262, styles/app.less */
.overlay-box a:hover span {
  color: #3e9b52;
}
/* line 266, styles/app.less */
.overlay-box .table-div {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 271, styles/app.less */
.overlay-box .table-div .table-vertical-middle {
  display: table-cell;
  vertical-align: middle;
}
/* line 275, styles/app.less */
.overlay-box .table-div .table-vertical-middle .fa {
  font-size: 32px;
}
/* line 279, styles/app.less */
#overlay-box-heading {
  font-weight: bold;
  font-size: 18pt;
  margin-bottom: 20px;
}
/* line 285, styles/app.less */
#overlay-box .close {
  z-index: 1001;
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 290, styles/app.less */
#overlay-box .close span {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
/* line 295, styles/app.less */
#overlay-box .close span:hover {
  color: #000000;
}
/* line 299, styles/app.less */
.success-box,
.error-box,
.warn-box {
  width: 100%;
  height: 100%;
}
/* line 306, styles/app.less */
.comments-overlay {
  position: absolute;
  margin-left: -15px;
  background: #CCC;
  padding: 5px;
  border-radius: 5px;
}
/* line 312, styles/app.less */
.comments-overlay.expanded {
  z-index: 100;
  position: absolute;
  /* for z-index to work */
}
/* line 317, styles/app.less */
.comments-overlay .toggle {
  white-space: nowrap;
  cursor: pointer;
}
/* line 322, styles/app.less */
.comments-overlay.expanded .comment-count,
.comments-overlay .content {
  display: none;
}
/* line 327, styles/app.less */
.comments-overlay .comment-count {
  display: inline;
}
/* line 331, styles/app.less */
.comments-overlay.expanded .content {
  display: block;
}
/* line 335, styles/app.less */
.comments-overlay .comment {
  border-top: dotted 1px #666;
  margin-top: 4px;
  padding-top: 4px;
  white-space: pre-wrap;
  position: relative;
}
/* line 344, styles/app.less */
.comments-overlay .comment .delete {
  position: absolute;
  right: 3px;
  top: 3px;
  text-decoration: none;
  display: none;
}
/* line 354, styles/app.less */
.comments-overlay .comment:hover .delete {
  display: block;
}
/* line 362, styles/app.less */
.comments-overlay {
  background: #52B415;
  font-size: 12px;
  color: white;
  display: none;
}
/* line 370, styles/app.less */
.selected .comments-overlay,
.comments-overlay.with-comments {
  display: block;
}
/* line 375, styles/app.less */
.comments-overlay .edit {
  margin: 2px 0 0 0;
  padding-top: 2px;
}
/* line 380, styles/app.less */
.comments-overlay .edit textarea {
  border: none;
  margin: 0;
}
/* line 385, styles/app.less */
.comments-overlay .icon-comment:hover {
  color: #EEE;
}
/* line 389, styles/app.less */
.comments-overlay .comment {
  border-top-color: white;
}
/* line 394, styles/app.less */
.comments-overlay .icon-comment {
  margin-right: 2px;
}
/* line 398, styles/app.less */
.comments-overlay .icon-delete {
  color: white;
  background-color: #ff4949;
}
/** fonts **/
@font-face {
  font-family: 'bpmn-js-comments';
  src: url('../bpmn-js-embedded-comments-fonts/bpmn-js-comments.eot?23532594');
  src: url('../bpmn-js-embedded-comments-fonts/bpmn-js-comments.eot?23532594#iefix') format('embedded-opentype'), url('../bpmn-js-embedded-comments-fonts/bpmn-js-comments.woff?23532594') format('woff'), url('../bpmn-js-embedded-comments-fonts/bpmn-js-comments.ttf?23532594') format('truetype'), url('../bpmn-js-embedded-comments-fonts/bpmn-js-comments.svg?23532594#bpmn-js-comments') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* line 417, styles/app.less */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bpmn-js-comments";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
/* line 435, styles/app.less */
.icon-comment:before {
  content: '\e800';
}
/* line 436, styles/app.less */
.icon-delete:before {
  content: '\e802';
}
/* line 438, styles/app.less */
.overlay-list-outer {
  height: 20px;
}
/* line 442, styles/app.less */
.overlay-list-inner-left {
  float: left;
}
/* line 446, styles/app.less */
.overlay-list-inner-right {
  float: right;
  visibility: hidden;
}
/* line 451, styles/app.less */
.overlay-list-inner-right select {
  min-width: 100px;
  margin-right: 15px;
}
/* line 456, styles/app.less */
.overlay-list-inner-right span {
  font-size: 20pt;
  color: #000000;
}
/* line 461, styles/app.less */
.overlay-list-inner-right span:hover {
  color: #3e9b52;
}
/**    **/
/* line 468, styles/app.less */
.dmn-drd-container {
  width: 100%;
  height: 100%;
}
/* line 473, styles/app.less */
.dmn-decision-table-container {
  padding: 10px;
}
